
//h1,
h2, h3, h4 {
    margin: 0;
}

.card {
    background-color: beige;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important; /* Removes the shadow completely */
}